.main{
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about{
  width: 50%;
  margin-bottom: 30px;
}

.about p{
  margin: 0;
}
.skills{
  width: 50%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.skills p{
  margin: 0;
}

.about h2{
  margin-bottom: 10px;
  font-weight: bold;
}


@media only screen and (max-width:720px){
  .main{
    height: auto;
    margin-top: 30px;
  }
  .about{
    width: 85%;
    margin-bottom: 20px;
  }
  .about p {
    margin: 0;
  }
  .skills{
    display: flex;
    width: 85%;
    margin-bottom: 20px;
  }
  .skills p {
    margin: 0;
  }

 
}
